# compiled output
dist
.run

# Don't checkin Secrets
secrets
.env

package-lock.json

# dependencies
node_modules

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch


#System Files
.DS_Store
Thumbs.db
